@charset "UTF-8";
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading__elem {
  position: relative;
  overflow: hidden;
}

.loading__elem:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  background: #cecece;
  -webkit-animation: loadaniTop 4000ms ease-out forwards infinite;
          animation: loadaniTop 4000ms ease-out forwards infinite;
}

.loading__elem:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: #cecece;
  -webkit-animation: loadaniRight 4000ms ease-out forwards infinite;
          animation: loadaniRight 4000ms ease-out forwards infinite;
}

.loading__inner {
  position: relative;
  padding: 100px;
}

.loading__inner:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 5px;
  -webkit-transition: 1s;
  transition: 1s;
  background: #cecece;
  -webkit-animation: loadaniBottom 4000ms ease-out forwards infinite;
          animation: loadaniBottom 4000ms ease-out forwards infinite;
}

.loading__inner:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: #cecece;
  -webkit-animation: loadaniLeft 4000ms ease-out forwards infinite;
          animation: loadaniLeft 4000ms ease-out forwards infinite;
}

.loading__inner--type2 {
  z-index: 1;
  font-family: helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, sans-serif;
  font-size: 34px;
  color: #cecece;
  text-align: center;
  font-weight: bold;
  padding: 15px 24px 16px;
}

.loading__inner--type2 span {
  display: block;
  text-align: center;
  font-size: 56px;
  color: #cecece;
  line-height: 1;
  margin-top: 9px;
  font-weight: bold;
}

@-webkit-keyframes loadaniTop {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes loadaniTop {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes loadaniRight {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes loadaniRight {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes loadaniBottom {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    right: 100%;
  }
}

@keyframes loadaniBottom {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    right: 100%;
  }
}

@-webkit-keyframes loadaniLeft {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes loadaniLeft {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 767px) {
  .loading__inner--type2 {
    font-size: 16px;
    padding: 5px 16px 5px;
  }
  .loading__inner--type2 span {
    font-size: 36px;
  }
}
/*# sourceMappingURL=style.css.map */