.paripari {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #000;
}

.paripariparipari {
  font-family: sans-serif;
  font-size: 10vw;
  color: #dcd0e7;
  letter-spacing: 0.1rem;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d544ff, 0 0 0.5em #d544ff,
    0 0 0.1em #d544ff, 0 10px 3px transparent;

  span {
    color: #dcd0e7;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d544ff, 0 0 0.5em #d544ff,
      0 0 0.1em #d544ff, 0 10px 3px transparent;
    animation: paripari 2000ms infinite linear;
  }
}
